.page-main__title {
  display: block;
  height: 171px;

  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -65px;
}

.photos__title {
  width: 226px;
  margin: auto;
  padding-top: 36px;

  color: #ffffff;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
}
