.page-main__photos {
  height: 187px;

  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: -10px -75px;
}

.photos__title {
  width: 226px;
  margin: auto;
  padding-top: 36px;

  color: #ffffff;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
}
